.graytdborder { 
background-color: rgb(255, 255, 255);
border-left-color: rgb(215, 215, 215);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(215, 215, 215);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(215, 215, 215);
border-top-style: solid;
border-top-width: 1px;
 }
 .lineHeight { 
line-height: 30px;
 }
 .titleChitiet { 
font-size: 16px;
font-weight: 700;
 }
 .CellPadding { 
font-weight: 400;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
 }

.borderCellTopBottom { 
border-bottom-color: rgb(220, 220, 220);
border-bottom-style: solid;
border-bottom-width: 1px;
border-top-color: rgb(220, 220, 220);
border-top-style: solid;
border-top-width: 1px;
 }

.cellBgColor1 { 
background-color: rgb(245, 245, 245);
 }
 
 .cellBgColor3 { 
background-color: rgb(238, 238, 238);
 }
 .style8 { 
color: rgb(33, 64, 154);
 }
 
 .timkiemlist { 
border-bottom-style: inset;
border-left-style: inset;
border-right-style: inset;
border-top-style: inset;
color: rgb(0, 0, 0);
font-family: "Arial", "Helvetica", sans-serif;
font-size: 11px;
height: 20px;
width: 152px;
 }