<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vienthonga</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="POJO/Hinhthucthanhtoan.hbm.xml"/>
    <mapping resource="POJO/Hinhanhcongty.hbm.xml"/>
    <mapping resource="POJO/Thamso.hbm.xml"/>
    <mapping resource="POJO/Congty.hbm.xml"/>
    <mapping resource="POJO/Chitietdonhang.hbm.xml"/>
    <mapping resource="POJO/Sanpham.hbm.xml"/>
    <mapping resource="POJO/Tintuc.hbm.xml"/>
    <mapping resource="POJO/Hinhanhsanpham.hbm.xml"/>
    <mapping resource="POJO/Chitietlaptop.hbm.xml"/>
    <mapping resource="POJO/Loainguoidung.hbm.xml"/>
    <mapping resource="POJO/Chitietdienthoai.hbm.xml"/>
    <mapping resource="POJO/Hinhanhkhuyenmai.hbm.xml"/>
    <mapping resource="POJO/Giamgia.hbm.xml"/>
    <mapping resource="POJO/Donhang.hbm.xml"/>
    <mapping resource="POJO/Nganhang.hbm.xml"/>
    <mapping resource="POJO/Nguoidung.hbm.xml"/>
    <mapping resource="POJO/Hang.hbm.xml"/>
    <mapping resource="POJO/Sieuthi.hbm.xml"/>
    <mapping resource="POJO/Khuyenmai.hbm.xml"/>
    <mapping resource="POJO/Vung.hbm.xml"/>
    <mapping resource="POJO/Loaisanpham.hbm.xml"/>
    <mapping resource="POJO/Gopy.hbm.xml"/>
    <mapping resource="POJO/Hinhanhtintuc.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
