<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vienthonga</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.characterEncoding">UTF-8</property>
    <mapping resource="MODEL/POJO/Donhang.hbm.xml"/>
    <mapping resource="MODEL/POJO/Giohang.hbm.xml"/>
    <mapping resource="MODEL/POJO/Hinhanhkhuyenmai.hbm.xml"/>
    <mapping resource="MODEL/POJO/Thamso.hbm.xml"/>
    <mapping resource="MODEL/POJO/Gopy.hbm.xml"/>
    <mapping resource="MODEL/POJO/Nganhang.hbm.xml"/>
    <mapping resource="MODEL/POJO/Sieuthi.hbm.xml"/>
    <mapping resource="MODEL/POJO/Hinhanhtintuc.hbm.xml"/>
    <mapping resource="MODEL/POJO/Sanpham.hbm.xml"/>
    <mapping resource="MODEL/POJO/Loaisanpham.hbm.xml"/>
    <mapping resource="MODEL/POJO/Tintuc.hbm.xml"/>
    <mapping resource="MODEL/POJO/Congty.hbm.xml"/>
    <mapping resource="MODEL/POJO/Hinhanhcongty.hbm.xml"/>
    <mapping resource="MODEL/POJO/Giamgia.hbm.xml"/>
    <mapping resource="MODEL/POJO/Chitietdonhang.hbm.xml"/>
    <mapping resource="MODEL/POJO/Chitietdienthoai.hbm.xml"/>
    <mapping resource="MODEL/POJO/Khuyenmai.hbm.xml"/>
    <mapping resource="MODEL/POJO/Hinhthucthanhtoan.hbm.xml"/>
    <mapping resource="MODEL/POJO/Hinhanhsanpham.hbm.xml"/>
    <mapping resource="MODEL/POJO/Chitietlaptop.hbm.xml"/>
    <mapping resource="MODEL/POJO/Vung.hbm.xml"/>
    <mapping resource="MODEL/POJO/Loainguoidung.hbm.xml"/>
    <mapping resource="MODEL/POJO/Nguoidung.hbm.xml"/>
    <mapping resource="MODEL/POJO/Hang.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
