/* CSS Document */
*{ margin:0; padding:0; outline:0; border:0}
*{ margin:0; padding:0; outline:0; border:0}
body{ font-size:11px; font-family:Arial, Helvetica, sans-serif; color:#333333;}

li{ list-style:none;}

h2{ font-weight:bold; text-transform:uppercase}

input{ height:14px; border:1px solid #c0c0c0; padding:2px; font-size:11px;}
select{ font-size:11px; border:1px solid #c0c0c0;}
textarea{border:1px solid #c0c0c0; padding:2px; font-size:11px;}

a{ text-decoration:none; color:#333333}
a:hover{ color:#ff7c00}

.clear{ clear:both; height:1%}

.cam{
    color:#FF7C00;
    font-size:13px;
    float:none;
}

label.stext {
    color:#ffffff; font-weight:bold;
}

/********Common CSS*****/
#container{ width:960px; margin:0 auto; background:#ffffff}
/*lev1*/
.lev1{ background:url(vienthonga_files/bgd_nav.gif) top left no-repeat; width:940px; overflow:hidden; padding:4px 10px 5px 10px;}
.lev1 li{ display:block; float:left; padding:0 5px;}
.lev1 a{ font-size:12px; color:#FFFFFF; font-weight:bold; text-transform:uppercase; display:block; float:left; padding:5px 10px;}
.lev1 li.actived a, .lev1 a:hover{ background:url(vienthonga_files/bgd_nav_act_lef.gif) top left no-repeat; padding:0 0 0 10px; text-decoration:none; color:#f57301}
.lev1 li.actived span, .lev1 a:hover span{ background:url(vienthonga_files/bgd_nav_act_rig.gif) top right no-repeat; display:block; padding:5px 10px 5px 0}
/*midline*/
.midline{ width:960px; overflow:hidden; margin:12px 0 0 0}
.hotnews{ width:500px; float:left; margin:0 10px 0 0;}
.hotnews h2{ font-size:20px; color:#ff7c00; margin:0 0 10px 0}

.voteTop{ background:url(vienthonga_files/bgd_bottom_binhchon.gif) bottom left no-repeat; width:442px; float:right; padding:0 0 10px 0; overflow:hidden}
.voteTop form{ background:url(vienthonga_files/bgd_top_binhchon.gif) top left no-repeat; width:412px; padding:30px 15px 0 15px; overflow:hidden; font-size:12px;}
.voteTop fieldset{ width:180px; float:left; margin:10px 15px 0 0; overflow:hidden;}
.voteTop fieldset p{ padding:4px 0; overflow:hidden; clear:both}
.voteTop input{ width:15px; height:15px; float:left; border:none; padding:0}
.voteTop label{ width:auto; display:block; padding:0 0 0 5px}
.voteTop p.btn{ width:412px; float:right; text-align:right; padding:5px 0 0 0; margin:-20px 0 0 0}
/*contentMain*/
.contentMain{ width:960px; overflow:hidden; margin:12px 0 0 0}
/*Left column*/
.highlightLev{ width:160px; float:left;}
.highlightLev h2{font-size:13px; color:#FFFFFF;;}
/*SEARCH*/
.blocSearch{ width:160px; background:url(vienthonga_files/bgd_bottom_timkiem.gif) bottom left no-repeat; padding:0 0 10px 0}
.blocSearch form{ width:140px; background:url("vienthonga_files/bgd_top_timkiem.gif") top left no-repeat; padding:10px 10px 0 10px}
.blocSearch h2{ padding:0 0 15px 35px; font-size:15px;}
.blocSearch input{ width:135px; margin:0 0 7px 0;}
.blocSearch select{ width:140px; margin:0 0 7px 0}
.blocSearch select.slsType01{ width:67px; float:left;}
.blocSearch select.slsType02{ width:67px; float:right;}
.blocSearch input.btnSearch{ width:auto; height:auto; padding:0; border:none; margin:5px 0 0 30px}
/*CATEGORY*/	
.blocCategory{ background:#f4f4f4 url(vienthonga_files/bgd_bottom_sp.gif) bottom left no-repeat; padding:0 0 10px 0; margin:10px 0 0 0}
.blocCategory h2{ background:url(vienthonga_files/bgd_title.gif) top left no-repeat; padding:6px 0 7px 10px}
.blocCategory li{ border-bottom:1px solid #ffffff; padding:7px 10px 7px 10px; text-align:right; height:20px; display:block;}
.blocCategory a{background:url(vienthonga_files/ico_01.gif) 0 3px no-repeat; padding:0 0 0 12px; text-transform:uppercase; font-weight:bold; text-align:left; display:block; float:left; margin:3px 0 0 0}
.blocCategory img{ vertical-align:top; text-align:right}
.blocCategory li.last{ border:none}
/*OTHERS*/
.blocOther{ background:url(vienthonga_files/bgd_bottom_tt.gif) bottom left no-repeat; padding:0 0 10px 0; margin:10px 0 0 0}
.blocOther h2{ background:url(vienthonga_files/bgd_title.gif) top left no-repeat; padding:6px 0 7px 10px}
.blocOther ul{ padding:0 1px;}
.blocOther li{ border-bottom:1px solid #ffffff; padding:7px 10px 7px 10px;}
.blocOther a{ background:url(vienthonga_files/ico_02.gif) 0 5px no-repeat; padding:0 0 0 12px; text-transform:uppercase; font-weight:bold;}
.blocOther li.last{ border:none;}
.blocOther li.lchild{ padding-left:20px;}
.blocOther li.lchild a{ text-transform:capitalize; }
/*ADVERTISEMENT*/
.blocAds{ margin:10px 0 0 0}
.blocAds h2{ background:url(vienthonga_files/bgd_title.gif) top left no-repeat; padding:6px 0 7px 10px}
.blocAds ul{ border:1px solid #dedede; border-top:none; padding:5px 0}
.blocAds li{ padding:5px 0; text-align:center}
.blocAds01{ margin:0 0 10px 0}
.blocAds01 h2{ background:url(vienthonga_files/bgd_title_01.gif) top left no-repeat; padding:6px 0 7px 0; text-align:center; font-size:13px; color:#FFFFFF}
.blocAds01 li{ padding:5px 0 0 20px}
.adsBottom{ margin:15px 0 0 0; text-align:center}
/*MORE*/
.blocMore{ background:url(vienthonga_files/bgd_bottom_tt.gif) bottom left no-repeat; padding:0 0 10px 0; margin:10px 0 0 0}
.blocMore h2{ background:url(vienthonga_files/bgd_title.gif) top left no-repeat; padding:6px 0 7px 10px}
.blocMore h3{ font-size:12px; color:#ff7c00; text-transform:uppercase;}
.blocMore div{ padding:15px 10px; border-bottom:1px solid #ffffff; margin:0 1px;}
.blocMore p{ padding:5px 0 0 0}
.blocMore div.last{ border:none;}
/*Center column*/
.contentCenter{ width:100%; float:left; margin:0 8px; overflow:hidden}
.contentCenter h2{ font-size:13px; text-transform:uppercase; color:#FFFFFF;}
/*BEST SELL*/
.bestSell{ width:620px; overflow:hidden}
.bestSell h2{ background:url(vienthonga_files/bgd_heading.gif) top left no-repeat; padding:3px 10px;}
.itemSell{ width:110px; float:left; background:url(vienthonga_files/bgd_dotted.gif) top right repeat-y; padding:5px 7px; margin:10px 0 0 0; text-align:center; position:relative}
.itemSell h3{ font-size:11px; height:25px;}
.itemSell span{ color:#ff001e; font-size:12px; font-weight:bold;}
.bestSell .last{ background:none}

/*FOUR TABS*/
.fourTabs{ margin:10px 0 0 0; width:620px; overflow:hidden}
.tabs{ width:620px; overflow:hidden}
.tabs li{ display:block; float:left;}
.tabs a{ background:url(vienthonga_files/bgd_tab_normal_left.gif) top left no-repeat; display:block; float:left; padding:0 0 8px 25px;}
.tabs span{ background:url(vienthonga_files/bgd_tab_normal_rig.gif) top right no-repeat; display:block; padding:8px 25px 0 0; font-size:12px; font-weight:bold; text-transform:uppercase}
.tabs a:hover, .tabs li.selected a{ background:url(vienthonga_files/bgd_tab_act_lef.gif) top left no-repeat; color:#FFFFFF}
.tabs a:hover span, .tabs li.selected span{ background:url(vienthonga_files/bgd_tab_act_rig.gif) top right no-repeat}

.fourTabs div{ width:600px; background:url(vienthonga_files/bgd_discount.gif) bottom left no-repeat; padding:10px; overflow:hidden;}
.fourTabs div div{ background:none; width:400px; padding:0; font-size:12px;}
.saleOff{ width:600px; overflow:hidden; display:none}
.saleOff img{ float:left; margin:0 15px 0 30px}
.saleOff div{ float:left;}
.saleOff h2 img{ float:none; margin:0}
.saleOff dl{ background:url(vienthonga_files/ico_arrow.gif) top left no-repeat; padding:0 0 10px 40px;}
.saleOff dl dt{ font-size:16px; font-weight:bold;}

.saleOff ul{ padding:0 0 0 40px; float: left}
.saleOff li{ padding:2px 0}
.saleOff li span{ width:60px; float:left;}
.active {display:block}
.oldPrice strong{text-decoration:line-through}
.newPrice strong{ color:#ff001e;}
.saleOff ul.ulSpecial{ width:400px; float:left; padding:0}	
.saleOff ul.ulSpecial li{ display:block; padding:4px 0}
.saleOff li a{ background:url(vienthonga_files/ico_02.gif) 0  5px no-repeat; padding:0 0 0 15px; display:block}

.saleOff ul.blocService{ padding:20px 0; overflow:hidden}
/*PRODUCTS*/
.topProductsz{ width:620px; margin:10px 0 0 20px; overflow:hidden;}
.topProducts{ width:620px; margin:10px 0 0 0; overflow:hidden;}
.topProducts h2{background:url(vienthonga_files/bgd_heading_01.gif) top left no-repeat; padding:2px 10px 4px 10px;}
/*.topProductsWrap{ padding:0 0 0 20px;}*/
.topProductsWrap{ padding:0 0 0 20px;}
.itemProducts{ background:url(vienthonga_files/bgd_item_product.gif) top left no-repeat; float:left; width:118px; height:148px; padding:2px 5px 5px 5px; margin:10px 22px 5px 0; text-align:center; position:relative;}
.itemProducts h3{ font-size:11px; font-weight:bold;}
.itemProducts span{ color:#ff001e; font-size:12px; font-weight:bold;}
/*					.itemProducts .bonus{ position:absolute; z-index:999; top:5px; left:5px;}*/
.itemProducts .bonus{ position:absolute; z-index:999; top:5px; left:5px; width:49px; height:49px; background:url(vienthonga_files/visu_bonus.gif) 0 0 no-repeat; color:#FFFFFF; text-align:center; line-height:1.1em; padding:5px 0 0 0}
.itemProducts .bonus01{ position:absolute; z-index:999; top:5px; left:5px; width:49px; height:49px; background:url(vienthonga_files/visu_bonus.gif) 0 0 no-repeat; color:#FFFFFF; text-align:center; line-height:1.1em; padding:5px 0 0 0}
.itemProducts .bonus strong, .itemProducts .bonus01 strong{font-size:15px; font-family:Geneva, Arial, Helvetica, sans-serif; display:block;}
.bonus012{ position:absolute; z-index:999; top:20px; left:5px; width:49px; height:49px; background:url(vienthonga_files/visu_bonus.gif) 0 0 no-repeat; color:#FFFFFF; text-align:center; line-height:1.1em; padding:5px 0 0 0}
/*PHUKIEN*/
.topPhukien{ width:620px; margin:10px 0 0 0; overflow:hidden;}
.topPhukien h2{background:url(vienthonga_files/bgd_heading_01.gif) top left no-repeat; padding:2px 10px 4px 10px;}
.topPhukienWrap{ padding:0 0 0 10px; margin:10px 0}
.itemPhukien{ width:130px; height:160px; float:left; border-right:1px solid #dedede; padding:5px 7px; margin:0 0 0 0; text-align:center}
.itemPhukien h3{ font-size:11px; height:25px;}
.topPhukien .brd{ border-bottom:1px solid #dedede;}
.topPhukien .last{ border-right:none}
/*Right Column*/
.contextual{ width:160px; float:left;}
.slogan{ margin:0 0 10px 0}
/*SUPPORT ONLINE*/
.supportOnline{ width:160px; background:url(vienthonga_files/bgd_bottom_hotrotructuyen.gif) bottom left no-repeat; padding:0 0 10px 0; margin:0 0 10px 0}
.supportOnline h2{ background:url(vienthonga_files/bgd_top_hotrotructuyen.gif) top left no-repeat; padding:18px 5px 8px 30px; color:#FFFFFF; font-weight:bold; font-size:12px;}
.supportOnline ul{padding:10px;}
.supportOnline li{display:block;}
.messenger{background:url(http://opi.yahoo.com/online?u=hnammobile&m=g&t=5) center left no-repeat; padding:7px 0 7px 30px; font-size:13px; font-weight:bold;}
.phone{background:url(vienthonga_files/ico_mobile.gif) center left no-repeat; padding:7px 0 7px 30px; font-size:13px; font-weight:bold; color:#ff001e;}
/*TOP 10*/
.topSellBest{ width:160px; background:#ffa73d url(vienthonga_files/bgd_bottom_top10.gif) bottom left no-repeat; padding:0 0 10px 0; margin:0 0 10px 0; overflow:hidden}
.topSellBest h2{ background:url(vienthonga_files/bgd_top_top10.gif) top left no-repeat; padding:10px 0 0 10px; color:#333333; text-transform:none; font-size:12px;}
.topSellBest h2 span{ display:block; font-size:18px; text-transform:uppercase; }
.topSellBest ul{ width:150px; padding:10px 5px 0 5px;}
.topSellBest li{ width:150px; display:block; overflow:hidden; padding:3px 0;}
.topSellBest li span{ background:url(vienthonga_files/bgd_ico_top10.gif) top left no-repeat; height:18px; width:18px; text-align:center; display:block; float:left; color:#ff7c00; font-weight:bold;}
.topSellBest li a{ display:block; color:#FFFFFF; font-weight:bold; margin:0 0 0 10px;}
.topSellBest li a:hover{ text-decoration:underline;}
.topSellBestWide{ width:620px; background:#ffa73d url(vienthonga_files/bgd_bottom_top10.gif) bottom left no-repeat; padding:0 0 10px 0; margin:0 0 10px 0; overflow:hidden}
.topSellBestWide h2{ padding:10px 0 0 10px; color:#333333; text-transform:none; font-size:12px;}
.topSellBestWide h2 span{ display:block; font-size:18px; text-transform:uppercase; }
.topSellBestWide ul{ width:150px; padding:10px 5px 0 5px;}
.topSellBestWide li{ width:150px; display:block; overflow:hidden; padding:3px 0;}
.topSellBestWide li span{ background:url(vienthonga_files/bgd_ico_top10.gif) top left no-repeat; height:18px; width:18px; text-align:center; display:block; float:left; color:#ff7c00; font-weight:bold;}
.topSellBestWide li a{ display:block; float:left; color:#FFFFFF; font-weight:bold; margin:0 0 0 10px;}
.topSellBestWide li a:hover{ text-decoration:underline;}
/*POLL*/	
.blocPoll{ background:url(vienthonga_files/bgd_bottom_khaosat.gif) bottom left no-repeat; padding:0 0 5px 0; margin:0 0 10px 0}
.blocPoll h2{ background:url(vienthonga_files/bgd_top_khaosat.gif) top left no-repeat; padding:5px 0 8px 0; font-size:13px; color:#FFFFFF; text-align:center}
.blocPoll form{ padding:5px 7px;}
/*				.blocPoll p{ width:146px; clear:both; padding:5px 0; overflow:hidden}*/
.blocPoll p{ clear:both; padding:5px 0; overflow:hidden}
.blocPoll input{ width:15px; height:15px; border:none; padding:0; float:left}
.blocPoll label{ width:85%; display:block; float:left; padding:0 0 0 5px;}
.blocPoll p.btn{ text-align:center;}
/*NEWS*/
.blocNews{ background:url(vienthonga_files/bgd_bottom_news.gif) bottom left no-repeat; padding:0 0 5px 0}
.blocNews h2{ background:url(vienthonga_files/bgd_top_news.gif) top left no-repeat; padding:5px 0 8px 0; text-align:center; color:#FFFFFF; font-size:13px;}
.blocNews ul{ padding:0 10px;}
.blocNews li{ display:block; border-bottom:1px solid #e5e5e5; padding:6px 0}
.blocNews a{ font-weight:bold;}
.blocNews li.last{ border:none}
.blocTip{ background:url(vienthonga_files/bgd_bottom_news.gif) bottom left no-repeat; padding:0 0 5px 0}
.blocTip h2{ background:url(vienthonga_files/bgd_top_news.gif) top left no-repeat; padding:5px 0 8px 0; text-align:center; color:#FFFFFF; font-size:13px;}
.blocTip ul{ padding:0 10px;}
.blocTip li{ display:block; border-bottom:1px solid #e5e5e5; padding:6px 0}
.blocTip a{ font-weight:bold;}
.blocTip li.last{ border:none}
/*bottomLine*/			
.bottomLine{ width:960px; overflow:hidden; margin:10px 0 0 0}
.youGet{ background:url(vienthonga_files/bgd_top_bonus.gif) top left no-repeat; padding:30px 0 0 0; width:448px; float:left;}
.youGet ul{ background:url(vienthonga_files/bgd_bottom_bonus.gif) bottom left no-repeat; padding:10px 20px; font-size:12px;}
.youGet li{ display:block; margin:6px 0; background:url(vienthonga_files/ico_02.gif) 0 5px no-repeat; padding:0 0 0 15px;}

.youGetWide{ background:url(vienthonga_files/bgd_top_bonus_01.gif) top left no-repeat; padding:30px 0 0 0; width:620px;}
.youGetWide ul{ background:url(vienthonga_files/bgd_bottom_bonus_01.gif) bottom left no-repeat; padding:10px 20px; font-size:12px;}
.youGetWide li{ display:block; margin:6px 0; background:url(vienthonga_files/ico_02.gif) 0 5px no-repeat; padding:0 0 0 15px;}

.voteWide{ background:url(vienthonga_files/bgd_top_bonus_01.gif) top left no-repeat; padding:30px 0 0 0; width:620px;}
.voteWide ul{ background:url(vienthonga_files/bgd_bottom_bonus_01.gif) bottom left no-repeat; padding:10px 20px; font-size:12px;}
.youGetWide li{ display:block; margin:6px 0; background:url(vienthonga_files/ico_02.gif) 0 5px no-repeat; padding:0 0 0 15px;}

.blocDiscount{ width:500px; float:right; background:url(vienthonga_files/bgd_bottom_saleoff.gif) bottom left no-repeat; padding:0 0 14px 0; font-size:12px; height:340px}
.blocDiscount h2{ background:url(vienthonga_files/bgd_top_saleoff.gif) top left no-repeat; padding:5px 10px 5px 15px; color:#FFFFFF; font-size:15px;}
.blocDiscount p{ padding:5px 15px;}
.blocDiscount strong{ color:#ff7c00; font-size:13px;}
.blocDiscount ul{ padding:0 15px;}
.blocDiscount li{ display:block; margin:5px 0; background:url(vienthonga_files/ico_02.gif) 0 5px no-repeat; padding:0 0 0 15px;}
.blocDiscount a{ text-decoration:underline}

.blocDiscountWide{ width:620px; background:url(vienthonga_files/bgd_bottom_saleoff_wide.gif) bottom left no-repeat; padding:0 0 14px 0; font-size:12px; margin:10px 0 0 0}
.blocDiscountWide h2{ background:url(vienthonga_files/bgd_top_saleoff_wide.gif) top left no-repeat; padding:5px 10px 5px 15px; color:#FFFFFF; font-size:15px;}
.blocDiscountWide p{ padding:5px 15px;}
.blocDiscountWide strong{ color:#ff7c00; font-size:13px;}
.blocDiscountWide ul{ padding:0 15px;}
.blocDiscountWide li{ display:block; margin:5px 0; background:url(vienthonga_files/ico_02.gif) 0 5px no-repeat; padding:0 0 0 15px;}
.blocDiscountWide a{ text-decoration:underline}
/*********PRODUCT PAGE************/		
.listItemProduct{ width:620px; margin:10px 0; overflow:hidden}

.products{ width:620px; background:url(vienthonga_files/bgd_top_list_product.gif) top left no-repeat; padding:10px 0 0 0; overflow:hidden; margin:0 0 10px 0}
.productsWrap{ width:580px; overflow:hidden; background:url(vienthonga_files/bgd_bottom_list_product.gif) bottom left no-repeat; padding:0 20px 10px 20px;}
.pict{ width:160px; float:left;  padding:0 20px 0 0; text-align:center; position:relative}
.pict h2{ font-size:12px; text-transform:uppercase; color:#ff7c00; display:block}
.pict h3{ font-size:11px; font-weight:bold; display:block}
.pict span{ color:#cc0000; font-size:12px; font-weight:bold;}			
/*.productsWrap .bonus{ position:absolute; z-index:999; top:40px; right:30px}*/
.productsWrap .bonus{ position:absolute; z-index:999; top:40px; right:30px; width:49px; height:49px; background:url(vienthonga_files/visu_bonus.gif) 0 0 no-repeat; color:#FFFFFF; text-align:center; line-height:1.1em; padding:5px 0 0 0}
.productsWrap .bonus01{  position:absolute; z-index:999; top:40px; right:30px; width:49px; height:49px; background:url(vienthonga_files/visu_bonus_01.gif) 0 0 no-repeat; color:#FFFFFF; text-align:center; line-height:1.1em; padding:5px 0 0 0}
.productsWrap .bonus strong, .productsWrap .bonus01 strong{font-size:15px; font-family:Geneva, Arial, Helvetica, sans-serif; display:block;}

.desc{ width:360px; float:left; padding:10px 5px 0 20px; background:url(vienthonga_files/bgd_dotted.gif) top left repeat-y;}
.desc p{ padding:0 0 10px 0}
.desc strong{color:#cc0000;}
.desc a{ color:#cc0000;}
.desc table{ background:#f8f8f8; border-top:1px solid #c0c0c0; border-left:1px solid #c0c0c0; margin:0 auto}
.desc table th{ text-align:left; padding:5px; border-bottom:1px solid #c0c0c0; border-right:1px solid #c0c0c0;}
.desc table td{ padding:5px; border-bottom:1px solid #c0c0c0; border-right:1px solid #c0c0c0;}
/*paging type*/
.pagingtype {width:620px; overflow:hidden; padding:10px 0;}
.brdTop{ border-top:1px solid #e4e4e4;}
.pagingtype a{ display:block; float:left; padding:0 4px; margin:0 2px; font-size:12px;color:#cc0000; font-weight:bold}
.pagingtype span {display:block; float:left;}
.pagingtype a:hover, .pagingtype a.selected{ display:block; float:left; padding:0 4px; background:#cc0000; color:#ffffff}
/*paging*/
.paging{ width:620px; overflow:hidden; padding:10px 0}
.brdTop{ border-top:1px solid #e4e4e4;}
.brdBottom{ border-bottom:1px solid #e4e4e4;}
.paging img{ float:left; margin:0 0 0 20px; clear:right;}
.paging div{ width:300px; float:right}
.paging div p{ float:left; padding:5px 20px 0 0}
.paging strong{ color:#cc0000; font-size:12px;}
.paging a{ display:block; float:left; padding:0 4px; margin:0 2px;}
.paging a:hover, .paging a.selected{ display:block; float:left; padding:0 4px; background:#ff7c00; color:#ffffff}
/*PRODUCT DETAILS*/
.meaLeft{ width:218px; float:left; margin:0 14px 0 0;}
.pictDesc{ background:url(vienthonga_files/bgd_bottom_tt_01.gif) bottom left no-repeat; padding:0 0 10px 0; width:218px; overflow:hidden; text-align:center; margin:0 0 10px 0}
.pictDesc h2{ background:url(vienthonga_files/bgd_title_02.gif) top left no-repeat; padding:6px 0; text-align:center; font-size:14px; text-transform:none}
.pictDesc a{ background:url(vienthonga_files/ico_zoom.gif) center right no-repeat; padding:5px 25px 5px 0; font-size:12px; float:right; margin:0 10px 0 0}

.pollProducts{ overflow:hidden}
.pollProducts h3{ background:url(vienthonga_files/bgd_title_04.gif) top left no-repeat; padding:2px 10px 4px 10px; font-size:16px;}
.pollProducts dl{ padding:10px;}
.pollProducts dd{ font-size:12px; padding:3px 0;}
.pollProducts dt{ font-weight:bold; font-size:12px;}
.pollProducts span{ width:176px; float:left; height:14px; background:#e4e4e4; margin:0 5px 0 0}
.pollProducts select{ width:58px; color:#FFFFFF; font-size:12px; font-weight:bold}
.pollProducts input.btnDanhgia{ width:66px; height:20px; border:0; padding:0; margin:10px 0 0 60px}
.redPoll{ color:#cc0001; font-weight:bold}
.redPoll span span{ background:#cc0001; }
.orangePoll{ color:#ff7c00; font-weight:bold}
.orangePoll span span{ background:#ff7c00; }
.greenPoll{ color:#a2c62d; font-weight:bold}		
.greenPoll span span{ background:#a2c62d; }			
.sltType01{ background:#cc0001;}	
.sltType02{ background:#ff7c00; margin:0 3px;}
.sltType03{ background:#a2c62d;}
.meaRigt{ width:377px; float:left;}			
.meaRigt h3{ background:url(vienthonga_files/bgd_title_03.gif) top left no-repeat; padding:2px 10px 4px 10px; font-size:16px;}
.meaRigt ul{ padding:0 10px 0 0; font-size:12px;}
.meaRigt li{ background:url(vienthonga_files/ico_03.gif) 0 5px no-repeat; padding:0 0 2px 10px; margin:5px 0;}
ul.border_bot li{border-bottom:1px dotted #999999}
.meaRigt li span{ width:90px; float:left; font-weight:bold;}
.meaRigt li strong{ color:#cc0001;}
.meaRigt p{ padding:10px; font-size:12px;}

.moreInfor{ clear:both; margin:10px 0 0 0; font-size:12px;}
.moreInfor h3{ background:url(vienthonga_files/bgd_title_05.gif) top left no-repeat; padding:2px 10px 4px 10px; font-size:16px;}
.moreInfor p{ padding:10px}
.moreInfor table{ background:#f8f8f8; width:599px; border-top:1px solid #c0c0c0; border-left:1px solid #c0c0c0; margin:0 auto}
.moreInfor table th{ text-align:left; padding:5px; border-bottom:1px solid #c0c0c0; border-right:1px solid #c0c0c0;}
.moreInfor table td{ padding:5px; border-bottom:1px solid #c0c0c0; border-right:1px solid #c0c0c0;}
/*NEWS*/
.news{ overflow:hidden; padding:0 5px;}
.news h2{ font-size:20px; background:url(vienthonga_files/bgd_line.gif) bottom left no-repeat; padding:0 0 5px 0; margin:0 0 10px; color:#333333; text-transform:none}
.newsDetail h3{ font-size:15px; color:#ff7c00;}
.newsDetail h3 span{ color:#333333; font-weight:bold; font-size:11px;}
.newsDetail p{ padding:10px 0; font-size:12px;}
.newsDetail table{ width:100%; margin:0 auto}
.newsDetail td{ padding:5px 0}
.readMore{ margin:30px 0 0 0}	
.readMore h3{ font-size:16px; color:#ff7c00; background:url(vienthonga_files/bgd_line.gif) bottom left no-repeat; padding:0 0 5px 0}
.readMore ul{ padding:10px 0; font-size:12px;}
.readMore li{ background:url(vienthonga_files/ico_04.gif) 0 3px no-repeat; padding:0 0 0 12px; margin:10px 0}
.readMore span{ color:#6a737b; font-size:11px; padding:0 0 0 5px;}

.pagingNews{ border-bottom:1px solid #e4e4e4; border-top:1px solid #e4e4e4; padding:10px 0; width:610px; overflow:hidden}
.pagingNews p{ float:left; padding:0 10px 0  0}
.pagingNews a{ display:block; float:left; padding:0 4px; margin:0 2px;}
.pagingNews a:hover, .pagingNews a.selected{ display:block; float:left; padding:0 4px; background:#ff7c00; color:#ffffff}
/*CONTACT*/
.contact{ overflow:hidden; padding:0 10px;}
.contact h2{ font-size:20px; background:url(vienthonga_files/bgd_line.gif) bottom left no-repeat; padding:0 0 5px 0; margin:0 0 10px; color:#333333; text-transform:none}
.contact h3{ background:url(vienthonga_files/ico_01.gif) 0 5px no-repeat; padding:0 0 0 15px; font-size:14px; color:#ff7c00}
.contact p{ padding:10px 15px; font-size:12px;}

.frmContact{ width:600px; margin:30px 0 0 0}
.frmContact fieldset{ border:1px solid #c0c0c0; padding:10px;}
.frmContact legend{ color:#ff7c00; font-size:14px; text-transform:uppercase; font-weight:bold; padding:5px 0 10px 0}
.frmContact p{ padding:8px 10px; overflow:hidden; clear:both}
.frmContact label{ width:100px; float:left; text-align:right; padding:0 10px 0 0}
.frmContact input{ width:310px; float:left}
.frmContact textarea{ width:410px; height:100px; float:left}
.frmContact input.inType01{ width:105px; margin:0 10px 0 0}
.frmContact span{ text-decoration:line-through}

.frmContact p.btn{ padding:20px 0 10px 230px;}
.frmContact input.btnYeuCau{ width:109px; height:26px; border:none; padding:0;}

/*footer*/
.footer{ width:960px; overflow:hidden; background:#f4f4f4 url(vienthonga_files/bgd_bottom.gif) bottom left no-repeat; margin:10px 0 0 0}
.footer ul{ background:url(vienthonga_files/bgd_nav.gif) top left no-repeat; width:940px; overflow:hidden; padding:4px 10px 5px 10px;}
.footer li{ display:block; float:left; padding:0 5px;}
.footer a.link{ font-size:12px; color:#FFFFFF; font-weight:bold; text-transform:uppercase; display:block; float:left; padding:5px 10px;}
.footer li.actived a.link, .footer a.link:hover{ background:url(vienthonga_files/bgd_nav_act_lef.gif) top left no-repeat; padding:0 0 0 10px; text-decoration:none; color:#f57301}
.footer li.actived span, .footer a.link:hover span{ background:url(vienthonga_files/bgd_nav_act_rig.gif) top right no-repeat; display:block; padding:5px 10px 5px 0}
.maps{ width:450px; float:left; padding:20px; text-align:center; border-right:1px solid #ffffff}
.copyright{ width:380px; float:left; padding:20px 20px 0 50px;}			
.copyright p{ padding:0 0 10px 0}
.copyright img{ float:right; margin:30px 0 0 0}


.blocList{ width:500px; float:left;}
.blocList div{float:left; width:460px; margin:0 3px; overflow:hidden;}
.blocList  ul {width:10000px; margin:0px;}
.blocList  div ul li { display:block; width:455px; float:left; margin:0 0 0 1px;}
.blocList p{float:left;}
.blocList .btnback{margin-top:30px;}
.blocList .btnnext{margin-top:30px;}


.blocListLast{ width:620px; float:left;}
.slideProHot {float:left; width:575px; overflow:hidden; margin:0 5px;}
.blocListLast  ul {width:10000px; margin:0px;}
.blocListLast p{float:left;}
.blocListLast .btnback{margin-top:55px;}
.blocListLast .btnnext{margin-top:55px;}

/*Popup*/
#layerReject{ font-size:1.1em; width:700px; height:auto; background:#fff; border:solid 2px #fc8b00; position:absolute; top:-1121px; left:-215px; z-index:999; overflow:hidden; visibility:hidden; }
#layerReject .close{ background:#ffffff url(vienthonga_files/ico_close_big.gif) top right no-repeat; padding:0 20px 5px 30px; margin:0; display:inline; float:right; width:40px; color:#ff8715; font-size:1.0em; font-weight:bold; line-height:23px;}
#layerReject .content img {margin-top:5px; margin-left:30px;}
#layerReject .content p {margin:15px 5px 5px 35px;}
/*Popup*/
#layerVote{ font-size:1.1em; width:620px; position:absolute; top:-1121px; left:-215px; z-index:999; overflow:hidden; visibility:hidden; }

.alertLayer { font-size:1.12em; width:150px; position:absolute; top:0; left:0; visibility:hidden;}
.alertLayer a {overflow:hidden; float:right;}
.alertLayer a:hover {}
.alertLayer p {}
/* layer type */
.layer {border:1px solid #ffa63d; background:#ffa63d;}
.layer a {display:none;}
.layer p {color:#FFFFFF; margin:0; padding:5px 10px;}
/* popup type */
.popup {border:1px solid #CC0000; background:#CC0000;}
.popup a {font-weight:bold; height:12px; line-height:10px; text-decoration:none; text-align:center; background:#FFFFFF; color:#CC0000; margin:0; padding:0 3px 0 4px; display:block;}
.popup a:hover {color:#FFFFFF; background:#CC0000;}
.popup p {color:#FFFFFF; margin:0; padding:10px;} 

.supportOnline { 
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("attachment:/241/attachment241.gif");
    background-origin: padding-box;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: auto;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    width: 160px;
}
.maintabletitle { 
    background-image: url("attachment:/14/attachment14.gif");
    background-repeat: no-repeat;
    color: rgb(51, 51, 51);
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    font-weight: 700;
    height: 28px;
    margin-left: 20px;
    padding-left: 10px;
 }
 .titleSPChitiet { 
    color: rgb(0, 51, 102);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
 }